.practitioner-list {
  list-style-type: none;
  color: rgb(207, 207, 212);

  &__item {
    padding: 1em 2em;
    background-color: rgb(255, 255, 255);
  }

  &__name {
    text-transform: uppercase;
    color: rgb(129, 129, 129);
    margin-bottom: 0.5em;
  }

  &__date {
    color: rgba(0, 0, 0, 0.925);
    margin: 0;
  }
}
