.hello-world-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hello-world-container > p {
  font-size: 18px;
  margin-top: 60px;
}

.custom-slider{
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 500px;
}